alembic==1.7.7
aniso8601==9.0.1
attrs==21.4.0
click==8.1.2
flasgger==0.9.5
Flask==2.0.1
Flask-Migrate==3.0.1
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
Mako==1.2.0
MarkupSafe==2.1.1
mistune==2.0.2
numpy==1.22.3
packaging==21.3
pandas==1.2.5
pluggy==0.13.1
psycopg2-binary==2.9.3
py==1.11.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==6.2.4
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
six==1.16.0
SQLAlchemy==1.4.35
toml==0.10.2
Werkzeug==2.1.1
